.nav-list {
    margin: 0;
    padding: 0;
}

.nav-list a {
    font-size: 18px;
}

.primary-nav ul>* {
    margin: 0 0.5em;
    padding: 0.5em;
}

.primary-nav ul {
    display: flex;
    list-style: none;
    font-size: var(--fs-300);
}